{% extends "base-wide.html" %}
{% load static %}

{% block current_tools %}menu-current{% endblock %}
{% block current_jobs %}class="menu-current"{% endblock %}
{% block title %}Paramètres de publication{% endblock %}
{% block help-topic %}job{% endblock %}

{% block extrascripts %}
    <script src="{% static "js/kolekti-jobslist.js" %}"></script>
{% endblock %}

{% block menu %}
{% endblock %}


{% block content %}

<div class="main">
  <div class="browserparent">
      <div class="browser" data-browserpath="/kolekti/publication-parameters/{% if job_path%}{{job_path}}/{% endif %}"> 
  </div>      
</div>


{% endblock %}

