{% extends "manage-base.html" %}
{% block page-content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      
    {% comment %}
    <div>
      <strong>Menu:</strong>
      <ul>
	{% if user.is_authenticated %}
	<li><a href="{% url 'account_email' %}">Change E-mail</a></li>
	<li><a href="{% url 'account_logout' %}">Sign Out</a></li>
	{% else %}
	<li><a href="{% url 'account_login' %}">Sign In</a></li>
	<li><a href="{% url 'account_signup' %}">Sign Up</a></li>
	{% endif %}
      </ul>
    </div>
    {% endcomment %}

    {% block content %}
    {% endblock %}
    

{% block extra_body %}

    {% if messages %}
    <div>
      <ul>
	{% for message in messages %}
	<li>{{message}}</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}

{% endblock %}

    </div>
  </div>
</div>
</div>
{% endblock %}

