{% extends "account/base.html" %}

{% load bootstrap %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="panel panel-default">	
	<div class="panel-body"> 
      <img class="registration-banner-img img-responsive" style="text-align:center" src="{% static "img/kolekti_banner.png"%}"/>
      <h3 style="text-align:center; margin: 30px 0;">{% trans "Testez gratuitement" %}</h3>

	  <form role="form" class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
	    {% csrf_token %}
	    {{ form|bootstrap }}
	    {% if redirect_field_value %}
	    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	    {% endif %}
        
	    <button class="pull-right btn btn-primary" type="submit">{% trans "Valider" %} &raquo;</button>
	  </form>
	</div>
      </div>

{% endblock %}
