{% extends "base_ecorse.html" %}

{% load ostags %}

{% block page-title %}
	{{ title }}
{% endblock %}

{% block extrascripts %}	
{{ libs.scripts|safe }}
<script src="/static/js/kolekti-ecorse-report.js"></script>
{% endblock %}

{% block sidebar %}
	{# ce block n'est chargé que si on a un release, ce qui n'est pas le cas pour la page d'accueil #}	
{% endblock %}


{% block content %}
	<div class="accueil-general">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="row">
					{% for project in projects %}
					<div class="col-md-6">
						<div class="panel panel-default bg-custom-color-{{ forloop.counter }}">
							<div class="panel-heading">
							<div class="huge">
								{{ project.title }} 
								</div>
							</div>
							<div class="panel-body">
								<ul>
									{% for report in project.reports %}
									<li><a href="{{ report.url }}">{{ report.title }}</a></li>
									{% endfor %}
								</ul>
							</div>
							<div class="panel-footer">
							  <a href="#" class="ecorse-action-create-report-project" data-target="#modal_create" data-project='{{project.id}}'>Nouveau rapport... </a>
			
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	
	
	{% include "ecorse/modal_create.html" %}
		
{% endblock %}

