{% extends "base_ecorse.html" %}

{% load ostags %}


{% block extracss %}
	{{ libs.css|safe }}
{% endblock %}

{% block extrascripts %}

	{{ libs.scripts|safe }}
	<script src="/static/js/kolekti-ecorse-report.js"></script>
{% endblock %}

{% block button-collapse-menu %}
	<button id="closeNavBtn" type="button" class="btn btn-default navbar-btn hidden-xs" title="Cacher le menu" style="display:none;">
		<i class="fa fa-times"></i>
	</button>
	<button id="openNavBtn" type="button" class="btn btn-default navbar-btn hidden-xs" title="Afficher le menu">
		<i class="fa fa-reorder"></i>
	</button>
{% endblock %}

{% block page-title %}
	{{ title }}
{% endblock %}

{% block sidebar %}

	{# remplace le menu ci dessus #}
	<div id="side-menu" class="">

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h3 class="panel-title"><a href="/"><strong>{{ territoire.project.description }}</strong></a></h3>
	    </div>

	    <div class="panel-body">
	      <h4><a href="?release=/releases/{{ current }}">{{ reportname }}</a></h4>

	      {% if shared %}

	      <div class="btn-group">
					<p>
						<i class="fa fa-users"></i> partagé&nbsp;
					</p>
	      </div>

	      {% else %}

	      <div>
					<p style="margin:0">
		  			<i class="fa fa-user"></i> non partagé&nbsp;
						<!-- <span class="btn-group">
							<a href="#" class="btn btn-default btn-sm elocus-action-report-share">
								<i class="fa fa-users"></i> Partager&nbsp;
							</a>
						</span> -->
					</p>
	      </div>

	      <!-- <br/>
	       -->


	      {% endif %}

	      <br/>
	      <div class="btn-group">
					<a title="Actualiser les données" href="#" class="btn btn-default btn-sm ecorse-action-update-data">
						<i class="fa fa-lg fa-refresh"></i>
					</a>
				</div>
				{% if not shared %}
				<div class="btn-group">
					<a title="Partager le rapport" href="#" class="btn btn-default btn-sm elocus-action-report-share">
					  <i class="fa fa-lg fa-users"></i>

					</a>
	      </div>
				{% endif %}
				<div class="btn-group">
					<a title="Export Word" href="#" class="btn btn-default btn-sm ecorse-action-dl-word">
						<i class="fa fa-lg fa-file-word-o"></i>
					</a>
				</div>
				<div class="btn-group">
					<a title="Obtenir lien public" href="#" class="btn btn-default btn-sm ecorse-action-dl-html">
						<i class="fa fa-lg fa-external-link-square"></i>

					</a>
				</div>
				{% if not shared %}
				<div class="btn-group">
					<a title="Supprimer" href="#" class="btn btn-default btn-sm elocus-action-report-delete">
					  <i class="fa fa-lg fa-trash"></i>
					</a>
	      </div>
				{% endif %}

				{% comment %}
				<div class="btn-group">
					<a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-download"></i>&nbsp;
						Télécharger&nbsp;
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu btn-sm-dropdown" role="menu">
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#" class="ecorse-action-dl-pdf">
									<i class="fa fa-file-pdf-o"></i>&nbsp;
									Pdf
								</a>
							</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#" class="ecorse-action-dl-word">
								<i class="fa fa-file-word-o"></i>&nbsp;
								Word
							</a>
						</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#" class="ecorse-action-dl-presentation">
									<i class="fa fa-file-powerpoint-o"></i>&nbsp;
									PowerPoint
								</a>
							</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#" class="ecorse-action-dl-html">
								<i class="fa fa-share-alt"></i>&nbsp;
								Partager
							</a>
						</li>
					</ul>
	    	</div>
				{% endcomment %}

	    </div>

	    <div class="panel-footer">
    		{{ menu|safe }}
	    </div>
	  </div>
	</div>


{% endblock %}


{% block content %}
	<div class="report" data-release="{{ release }}">
		{{ content|safe}}
	</div>

	{% include "ecorse/modal_create.html" %}

{% endblock %}
