{% extends "base_ecorse.html" %}

{% load ostags %}


{% block extracss %}
	{{ libs.css|safe }}
{% endblock %}


{% block extrascripts %}
	{{ libs.scripts|safe }}
	<script src="/static/js/kolekti-ecorse-report.js"></script>
{% endblock %}

{% block page-title %}
	{{ title }}
{% endblock %}

{% block sidebar %}
	<div id="side-menu">
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><a href="?"><strong>{{ current }}</strong></a></h3>
			</div>



			<div class="panel-footer">
				<div class="btn-group">
					<a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-download"></i>&nbsp;
						Télécharger&nbsp;
						<span class="caret"></span>
					</a>
				 
					<ul class="dropdown-menu btn-sm-dropdown" role="menu">
					  {% comment %}
					  <li role="presentation">
							<a role="menuitem" tabindex="-1" href="#" class="ecorse-action-dl-pdf">
								<i class="fa fa-file-pdf-o"></i>&nbsp;
								Pdf
							</a>
					  </li>
					  {% endcomment %}
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#" class="ecorse-action-dl-word">
								<i class="fa fa-file-word-o"></i>&nbsp;
								Word
							</a>
						</li>
					  {% comment %}
					  <li role="presentation">
							<a role="menuitem" tabindex="-1" href="#" class="ecorse-action-dl-presentation">
								<i class="fa fa-file-powerpoint-o"></i>&nbsp;
								PowerPoint
							</a>
					  </li>
					  {% endcomment %}
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#" class="ecorse-action-dl-html">
								<i class="fa fa-share-alt"></i>&nbsp;
								Partager
							</a>
						</li>
					</ul>			
				</div>
			</div>
  			


  			<div class="panel-body">
				{{ menu|safe }}
			</div>
			
		</div>

	</div>


{% endblock %}


{% block content %}
	<div class="report" data-release="{{ release }}">
		{{ content|safe}}
	</div>
	
	{% include "ecorse/modal_create.html" %}
		
{% endblock %}

