{% if form %}
<div class="">
  <div class="row">
    <div class="col-xs-12">
    <div class="input-append">
  
      <div class="input-group">
        <input type="text" id="search_query"  placeholder="Recherche" class="col-sm-11 col-xs-11 col-md-9"></input>
        <span class="input-group-btn">
          <button class="btn btn-info" id="search_btn" type="button" title="Rechercher">
            <i class="glyphicon glyphicon-search icon-white"></i>
          </button>
        </span>
      </div>
      </div>
    </div>
  </div>
  <script>
    var search = function() {
      var query = $('#search_query').val()
      $.post('/widgets/search/', {'query':query})
       .done(function(response) {
           $('#search_results').html(response)
       })
    }
    
    $('#search_btn').on('click', search)
    $('#search_query').on('keydown', function(e) {
      console.log(e);
      if (e.keyCode == 13){
          console.log('search');
          search();
      }
    })
    
  </script>
           
  <hr/>
  <div id="search_results">
  </div>
</div>
{% else %}
{% for result in results %}
<div class="result">
  <dl>
    <dt>
      <span class="label label-info" title="{{result.path}}">{{result.type}}</span>
      <a href="{{result.path}}">{{result.title}}</a></dt>
    <dd>
      <span class="hl">{{ result.hl|safe }} </span>
    </dd>
    <dd class="search-result-path">{{result.path}}</dd>
  </dl>
  <hr/>
</div>
{% empty %}
<div>
  <div class="alert alert-warning" role="alert">
    Aucun résultat pour la requête «{{ query }}»
  </div>
</div>
{% endfor %}
{% endif %}
