
/* Selector browser stylesheet */

#main {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

#main ul.subdirs {
   top: 0;
   margin: 0;
}

.trameselector_dialog .browser-directories {
    top: 0;
}