<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "user_profile" %}">Mon profil</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "password_change" %}">Changer mon mot de passe</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "logout" %}">Déconnexion</a></li>
<li class="divider" role="presentation"/>      
<li><a href="{% url 'changelog' %}">Changelog</a></li>
<li><a href="{% url 'about' %}">A propos de kolekti</a></li>
