{% if user.is_authenticated %}
<div class="btn-group  pull-right" role="group">
  <div class="btn-group" role="group">
    <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
      {{ user.username }}
      <span class="caret"></span>
    </button>
    
    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu2">
      {% include "user_menu_items.html" %}
    </ul>
  </div>
</div>
{% endif %}
