{% load timetags %}
<div class="publication_msg">
  {% if event == "result" %}

  <ul class="result">
    {% for doc in docs %}
    {{ doc.label }}
    {% endfor %}
  </ul>
  
  {% elif event == "warning" %}

  <div class="alert alert-warning">
    <h5>Avertissement</h5>
    <p>{{ msg }}</p>
  </div>

  {% elif event == "error" %}

  <div class="alert alert-danger error">
    <h5>Erreur à la publication</h5>
    <p>{{ msg }}</p>
  </div>
  <a class="btn btn-primary btn-xs" data-toggle="collapse" href="#collapseStacktrace{{ id }}" aria-expanded="false" aria-controls="collapseStracktrace{{ id }}">Détails</a>
  <div class="collapse" id="collapseStacktrace{{ id }}">
    <div class="well">
      <pre>
	{{ stacktrace }}
      </pre>
    </div>
  </div>
  {% endif %}

</div>
