{% extends 'translators_base.html' %}

{% block extra-scripts %}
<script type="text/javascript" href="/static/js/translators.js"/>
{% endblock %}

{% block page-content %}
<div class="row">
  <div class="offset-sm-1 col-sm-10">

    {% for release in releases %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="project_name">{{ release.project.name }}</span>
      <span class="release_name">{{ release.release_name }}</span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="kolekti-release-langs" data-project="{{ release.project.directory }}" data-release="{{ release.release_name }}">
      
    </div>
    <a href="#">Download sources (zip)</a>
    <a href="#">Download assembly</a>    
  </div>
</div>

{% endfor %}
  </div>
  </div>
{% endblock %}
