{% extends "base-wide.html" %}
{% load static %}

{% block title %}Variables{% endblock %}
{% block current_tools %}menu-current{% endblock %}
{% block current_variables %}class="menu-current"{% endblock %}
{% block help-topic %}variable{% endblock %}

{% block extracss %}
    <link rel="stylesheet" type="text/css"  href="{% static "css/kolekti-illustrations.css" %}"></link>
{% endblock %}

    {% block extrascripts %}
    <script src="{% static "js/kolekti-variablesutils.js" %}"></script>
    <script src="{% static "js/kolekti-variableslist.js" %}"></script>
{% endblock %}

{% block menu %}

    <div class="row top-margin">
      <div class="col-sm-12 col-md-12">
	<div class="btn-group" data-toggle="buttons">
	  <label class="btn btn-primary active">
	    <input type="radio" name="source" autocomplete="off" checked class="btn btn-primary" id="btn_var_lang">{{ active_srclang }}</input>
	  </label>
	  <label class="btn btn-primary">
	    <input type="radio" name="source" autocomplete="off" class="btn btn-primary" id="btn_var_share">Partagées</input>
	  </label>
	</div>
      </div>
    </div>

    <div class="row top-margin" id="preview">
    </div>
{% endblock %}


{% block content %}
<div class="main">
  <div class="title">
  </div>
  <div class="browser"
       id="browser_lang"
       data-browserpath="{% if release %}/releases/{{ release }}{% endif %}/sources/{{ lang }}/variables/{% if variable_path %}{{ variable_path }}/{% endif %}">
  </div>

  <div id="uploadmodal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
	      <h4 class="modal-title">Importer fichier ods</h4>
	</div>
	    <form id="uploadform" method="POST" enctype="multipart/form-data">
	      <div class="modal-body">
	        <p>Sélectionnez ou déposez le fichier ods à importer</p>
	        <input type="file" id="upload_file" name="upload_file" class="form-control upload"/>
	        <input type="hidden" id="variable_file_path" name="path" value=""/>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
	        <button type="button" class="btn btn-primary doimport">Importer</button>
	      </div>
	    </form>
      </div>
    </div>
  </div>
  <div id="uploadprogress" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
	    <div class="modal-header">
	      <h4 class="modal-title">Importer fichier ods</h4>
	    </div>
	    <div class="modal-body">
          <div class="alert alert-info">
            <i class='fa fa-refresh fa-spin'></i>
            <strong> Import en cours...</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

