{% extends "base.html" %}
{% load ostags %}

{% block current_home %}class="menu-current"{% endblock %}

{% block title %}Gestion des projets{% endblock %}
{% block help-topic %}projects{% endblock %}


{% block content %}    
{% if user_projects|length %}
<div id="menu">
    <!--
	<div class="panel-heading">
	  <h4>Projets disponibles</h4>
	</div>
	-->
    {% for user_project in user_projects %}
  <div class="panel panel-default list-group">
    
    <div class="panel-heading">

      <strong>{{ user_project.project.name }}</strong> 
      <span class="label label-info pull-right">
	{% ifequal project.status  "svn" %}
	partagé
	{% else %}
	local
	{% endifequal %}
      </span>
    </div>
  
    <div id="collapse_{{ project.id }}" class="sublinks collapse {% if project.name == active_project_name %}in{% endif %}">
      <div class="panel-body">
	<p>url du dépot SVN : {{ user_project.project.url }}</p>

	<a href="{% url 'kolekti_project_home' project=user_project.project.directory %}">Page d'accueil du projet</a>

	<hr/>
      </div>      
    </div>
  </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block menu %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Nouveau projet</h4>
  </div>
  <div class="panel-body">
    {% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <form method="POST" action="/projects/">
      <div class="form-group">
	<label for="project">Dossier projet</label>
	<input type="text" class="form-control" id="project" name="projectfolder" placeholder="Entrez le nom du dossier projet" value="{{ projectfolder }}">
      </div>
      <div class="form-group">
	<label for="project">URL du dépot svn <br/>(laisser vide pour un projet local)</label>
	<input type="url" class="form-control" id="svn" name="projecturl" placeholder="Entrez une URL" value="{{ projecturl }}">
      </div>
      {% if require_svn_auth %}
      <div class="form-group">
	<label for="project">Utlisateur</label>
	<input type="text" class="form-control" id="username" name="username" placeholder="Utilisateur">
      </div>
      <div class="form-group">
	<label for="project">Mot de passe</label>
	<input type="password" class="form-control" id="password" name="password">
      </div>
      {% endif %}
      <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
	  <button type="submit" class="btn btn-default">Créer</button>
	</div>
      </div>		
    </form>
    
    
  </div>
</div>

{% endblock %}
