{% extends "base.html" %}
{% load ostags %}
{% load dict_utils %}
{% load static %}

{% block current_tools %}menu-current{% endblock %}
{% block current_languages %}class="menu-current"{% endblock %}

{% block title %}Configuration des langues{% endblock %}
{% block help-topic %}config{% endblock %}
{% block extrascripts %}
    <script src="{% static "js/kolekti-config-lang.js" %}"></script>
{% endblock %}


{% block content %}    
<div id="menu">
  <div class="panel panel-default list-group">
    <div class="panel-body">
      <form autocomplete="off">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Langue</th>
            <th>Code</th>
            <th>Langue par défaut</th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>
          <tr  class="info">
            <td>
              <input type="text" class="form-control klabel" placeholder="Intitulé langue">
            </td>
            <td>
              <input type="text" class="form-control kcode" placeholder="Code langue">
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              <button class="btn btn-default btn-sm lang_add" type="button">Ajouter</button>
            </td>
            
        </tbody>
        <tbody>
	      {% for lang in languages %}
          <tr class="lang" data-lang='{{ lang.code }}' {% if lang.code == default_lang %}data-default="yes"{% endif %}>
            <th><span class="lang-label">{{ lang.label }}</span></th>
            <td><span class="lang-code">{{ lang.code }}</span></td>
            <td>
              <input type="radio" name="lang_default" class="form-control lang_default" {% if lang.code == default_lang %}checked{% endif %}/>
            </td>
            <td>
	          <input type="button"
                     class="btn btn-default btn-xs lang-del{% if lang.code == default_lang %} disabled{% endif %}"
                     value="Supprimer"/>


            </td>
            <td>
              {% if not "variables" in directories|get_item:lang.code %}
	          <button type="button"
                      title="Créer le dossier variables"
                     class="btn btn-default btn-xs lang-create-variable">
                      <i class="fa fa-folder-o"></i> var</button>
              {% else %}
              <button type="button"
                      title="Le dossier variables existe"
                      class="btn btn-default btn-xs disabled">
                <i class="fa fa-check-square-o"></i> var</button>

              {% endif %}
              {% if not "pictures" in directories|get_item:lang.code %}
	          <button type="button"
                      title="Créer le dossier images"
                     class="btn btn-default btn-xs lang-create-picture">
                      <i class="fa fa-folder-o"></i> img</button>
              {% else %}
              <button type="button"
                      title="Le dossier images existe"
                      class="btn btn-default btn-xs lang-create-variable disabled">
                <i class="fa fa-check-square-o"></i> img</button>
              
              {% endif %}
              
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </form>
    </div>
  </div>
</div>



{% comment %}    
       </div><!-- /input-group -->
      <hr>
      <h5>Langues des versions (traductions)</h5>
      {{ lang }}
      <div class="input-group input-group-sm btn-lang-group" id="release_langs">
	<div class="input-group-btn" role="group" aria-label="Langue">
	  {% for lang in releaselangs %}
	  <div class="btn-group btn-lang">
	    <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="lang">{{ lang }}</span>&nbsp;<span class="caret"></span></a>
	    <ul class="dropdown-menu">
	      <li {% if lang == default_srclang %}class="disabled"{% endif %}><a href="#" class="lang_del">Supprimer</a></li>
	    </ul>
	  </div>
	  {% endfor %}
	  <div class="btn-group hidden">
	    <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="lang"></span>&nbsp;<span class="caret"></span></a>
	    <ul class="dropdown-menu">
	      <li><a href="#" class="lang_del">Supprimer</a></li>
	    </ul>
	  </div>

	</div>
	<input type="text" class="form-control" placeholder="Ajouter">
	<span class="input-group-btn">
	  <button class="btn btn-default lang_add" type="button">Ajouter</button>
	</span>
      </div><!-- /input-group -->
    </div>
  </div>
</div>
{% endcomment %}
{% endblock %}

{% block menu %}
    
    <div class="row">
      <div class="col-sm-12 col-md-12">
	<button type="button" class="btn btn-block btn-default disabled" id="btn_save" data-path="{{ path }}">
	  Enregistrer
	</button>
      </div>
    </div>

{% endblock %}
