{% extends "base.html" %}
{% load ostags %}
{% load i18n %}
{% block current_tools %}menu-current{% endblock %}

{% block title %}Gestion des projets{% endblock %}
{% block help-topic %}projects{% endblock %}


{% block content %}    
{% if projects|length %}
<div id="menu">
  <div class="panel panel-default list-group">
    <!--
	<div class="panel-heading">
	  <h4>"{% trans "Available Projects" %}</h4>
	</div>
	-->
    {% for project in projects %}

    <div class="panel-heading">
      <a data-toggle="collapse" {% if project.name != active_project %}class="collapsed"{% endif %} href="#collapse_{{ project.id }}">
	<small>
	  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>
		  <span class="glyphicon glyphicon-chevron-down" aria-hidden="false"> </span>
	</small>
      </a>

      <strong>{{ project.name }}</strong> 
      <span class="label label-info pull-right">
	{% ifequal project.status  "svn" %}
	partagé
	{% else %}
	privé
	{% endifequal %}
      </span>
		
      {% if project.name == active_project %}
      <span class="label label-warning pull-right">{% trans "Active" %}</span>
      <span>  </span>
      {% endif %}
    </div>
  
    <div id="collapse_{{ project.id }}" class="sublinks collapse {% if project.name == active_project %}in{% endif %}">
      <div class="panel-body">
	{% if project.name == active_project %}
	Langue édition: <div class="btn-group btn-group-xs" role="group" aria-label="Langue">
	  {% for lang in project.languages %}
	  <a href="/projects/language?lang={{ lang }}" class="btn btn-default btn-lang {% if lang == active_srclang %} active {% endif %}">{{ lang }}</a>
	  {% endfor %}
	  </div>
	  <a class="btn btn-xs btn-default" href="/projects/config">{% trans "Configure Languages" %}</a>

	<hr/>
	{% endif %}
	{% ifequal project.status "svn" %}
	<p>{% trans "SVN deposit url" %}: {{ project.url }}</p>
	<hr/>
	{% endifequal  %}
	{% if project.name != active_project %}
	<a href="/projects/activate?project={{project.name}}" class="btn btn-default">{% trans "Activate this project" %}</a>
	{% endif %}
      </div>      
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}

{% block menu %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>{% trans "New Project" %}</h4>
  </div>
  <div class="panel-body">
    <form method="POST" action="/projects/">
      <div class="form-group">
	<label for="project">{% trans " Project File" %}</label>
	<input type="text" class="form-control" id="project" name="projectfolder" placeholder="{% trans 'Enter Project File name' %}" value="{{ projectfolder }}">
      </div>
      <div class="form-group">
	<label for="project">{% trans "svn deposit URL"%}<br/>{% trans "(Leave blank for a local project)" %}</label>
	<input type="url" class="form-control" id="svn" name="projecturl" placeholder="{% trans 'Insert an URL'%}" value="{{ projecturl }}">
      </div>
      {% if require_svn_auth %}
      <div class="form-group">
	<label for="project">{% trans "Username" %}</label>
	<input type="text" class="form-control" id="username" name="username" placeholder="{% trans 'Username' %}">
      </div>
      <div class="form-group">
	<label for="project">{% trans "Password" %}</label>
	<input type="password" class="form-control" id="password" name="{% trans 'password' %}">
      </div>
      {% endif %}
      <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
	  <button type="submit" class="btn btn-default">"{% trans "Create" %}</button>
	</div>
      </div>		
    </form>
    
    
  </div>
</div>

{% endblock %}
