{% load timetags %}
<div class="publication">
  {% if success %}
  {% for pubresitem in pubres %}
	{% for profileitem in pubresitem.publications %}
	<h5>Profile {{ profileitem.profile }}</h5>
	<p>publié le {{ profileitem.time|print_timestamp }}</p>
	<ul>
	  {% for scriptitem in profileitem.scripts %}
	  <li>Script {{ scriptitem.script }}: 
	    {% for doc in scriptitem.docs %}
	    {{ doc.type }}: <a href="/static{{ doc.url }}" target="_blank">{{ doc.label }}</a> 
            {% endfor %}
	  </li>
	  {% endfor %}
	</ul>
	{% endfor %}
  {% endfor %}
  {% else %}
  <div class="error">
    <p>{{ logger }}</p>
  </div>
  {% endif %}
</div>
