{% load timetags %}
<div class="publication">
  {% if success %}
  {% for pubresitem in pubres %}
	{% for profileitem in pubresitem.publications %}
	<h5>Profile {{ profileitem.profile }}</h5>
	<p>publié le {{ profileitem.time|print_timestamp }}</p>
	<ul>
	  {% for scriptitem in profileitem.scripts %}
	  <li>Script {{ scriptitem.script }}: 
	    {% for doc in scriptitem.docs %}
	    {{ doc.type }}: <a href="{{ doc.url }}" target="_blank">{{ doc.label }}</a> 
            {% endfor %}
	  </li>
	  {% endfor %}
	</ul>
	{% endfor %}
  {% endfor %}
  {% if logger %}
  <div class="alert alert-warning">
    <h5>Avertissements</h5>
    <p>{{ logger }}</p>
  </div>
  {% endif %}
  {% else %}
  <div class="alert alert-danger error">
    <h5>Erreur à la publication</h5>
    <p>{{ logger }}</p>
  </div>
  <a class="btn btn-primary btn-xs" data-toggle="collapse" href="#collapseStacktrace" aria-expanded="false" aria-controls="collapseStracktrace">Détails</a>
  <div class="collapse" id="collapseStacktrace">
    <div class="well">
      <pre>
	{{ stacktrace }}
      </pre>
    </div>
  </div>
  {% endif %}
</div>
