<h4> {{ name }} </h4>
  <div class="col-sm-12 col-md-12">
    <img alt="{{ path }}" src="{% url 'kolekti_project_static' project=project path=project_path %}" class="img-responsive" />
  </div>
  <div class="col-sm-12 col-md-12">
    <ul>
      <li>format : {{format}}</li>
      <li>poids : {{fileweight}} Ko</li>
      <li>mode : {{ mode }}</li>
      <li>taille : {{ size }}</li>
  {% comment %}
      {% for name, value in info.items %}
      <li> {{ name }} : {{ value }}</li>
      {% endfor %}
  {% endcomment %}
    </ul>
  </div>

