{% extends "base.html" %}
{% load static %}
{% block current_releases %}class="menu-current"{% endblock %}
{% load statustags %}
{% block extracss %}
    <link rel="stylesheet" type="text/css"  href="{% static "css/kolekti-releases.css" %}"/>
    <link rel="stylesheet" type="text/css"  href="{% url 'kolekti_criteria_css' project=project %}" />
<!--    <script src="{% static "ckeditor/ckeditor.js" %}"></script> -->
{% endblock %}

{% block extrascripts %}
<script src="{% static "js/kolekti-illustrationsutils.js" %}"></script>
<script src="{% static "js/kolekti-variablesutils.js" %}"></script>
<script src="{% static "js/kolekti-release.js" %}"></script>
<script src="{% static "js/kolekti-compare.js" %}"></script>
<script src="{% static "js/kolekti-release-edit.js" %}"></script>
{% endblock %}

    {% block title %}
    {{ assembly_name }}
    {% endblock %}


    {% block infobuttons_lang %}
    {% endblock %}	      

{% block menu %}

{% for rlang, state, focus in langstates %}
{% if rlang == relang %}
{% if state != "unknown" %}

<div class="row">
      <div class="col-sm-12 col-md-12">
	<div class="btn-group btn-group-justified" role="group">
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default btn-save disabled" id="btn_save">Enregistrer</button>
	  </div>
	</div>
      </div>
    </div>

    <div class="row top-margin">
      <div class="col-sm-12 col-md-12">
	    <div class="input-group">
	      <!--
		  <div class="btn-group btn-group-justified">
		  <div class="btn-group" role="group">
          -->
	  <button type="button" class="btn btn-primary btn-group-justified btn_publish" id="btn_publish">Publier</button>
	  <div class="input-group-btn">
	    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	      <span class="caret"></span>
	      <span class="sr-only">Plus d'options</span>
	    </button>
	    <ul class="dropdown-menu dropdown-menu-right">
	      <li><a id="btn_publish_all" class="btn_publish" href="#">Publier toutes les langues</a></li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>

    {% comment %}
    {% if assembly_meta.kolekti_releasename_ and assembly_meta.kolekti_releaseindex %}
    <div class="row top-margin">
      <div class="col-sm-12 col-md-12">
	    <div class="btn-group btn-group-justified" role="group">
	      <div class="btn-group" role="group">
	        <button type="button" class="btn btn-default btn-update" id="btn_update">Actualiser</button>
	      </div>
	    </div>
      </div>
    </div>
    {% endif %}
    {% endcomment %}

    <br/>


    <div class="panel panel-default" id="panel_download">
      <div class="panel-heading">
	    <h4 class="panel-title">
	      <a data-toggle="collapse" href="#collapsePL" class="collapsed">
	        <small>
	          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	          <span class="glyphicon glyphicon-chevron-down" aria-hidden="false"></span>
	        </small>
	        Télécharger
	      </a>
	    </h4>
      </div>
      
      <div id="collapsePL" class="panel-collapse collapse ">
	    <div class="panel-body">
	      <div class="row">
	        <div class="col-sm-12 col-md-12">
	          <h5>Exporter</h5>
              {% with '/releases/'|add:release|add:'/sources/'|add:srclang|add:'/assembly/'|add:release|add:'_asm.html'  as asmpath %} 
              
              <a href="{% url 'kolekti_project_static' project=project path=asmpath  %}" download="{{ assembly_name }}_asm.html">
                {% endwith %}
		        Assemblage source [{{srclang}}]
	          </a>
              {% if not srclang or not  srclang == relang  %}
	          <br>
              {% with '/releases/'|add:release|add:'/sources/'|add:relang|add:'/assembly/'|add:release|add:'_asm.html'  as asmpath %} 
              <a href="{% url 'kolekti_project_static' project=project path=asmpath %}" download="{{ assembly_name }}_asm.html">
                {% endwith %}
		        Assemblage traduit [{{relang}}]
	          </a>
	          {% endif %}
	          
	        </div>
	        <div class="col-sm-12 col-md-12">
	          <h5>Importer</h5>
	          <form method="POST" class="upload_form" enctype="multipart/form-data">
                {% csrf_token %}
		        <div class="input-group">
		          <label style="font-weight:100">Assemblage [{{relang}}]
		            <input type="file" id="dl_assembly" placeholder="" name="upload_file"/>
		            
		        </div>
		        <button type="submit" class="btn btn-default btn-xs">Valider</button>
	          </form>
	        </div>
	      </div>
	    </div>
      </div>
    </div>
    {% endif %}


    <div class="panel panel-default" id="release_compare">
      <div class="panel-heading">
	    <h4 class="panel-title">
	      <a data-toggle="collapse" href="#collapseRC" class="collapsed">
	        <small>
	          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	          <span class="glyphicon glyphicon-chevron-down" aria-hidden="false"></span>
	        </small>
	        Comparer
	      </a>
	    </h4>
      </div>
      
      <div id="collapseRC" class="panel-collapse collapse  ">
	    <div class="panel-body">
          <div class="compare-param">
            <p>Comparer l'assemblage affiché avec :</p>
          
{#            {% if assembly_meta.kolekti_releasename and assembly_meta.kolekti_releaseindex %} #}
            {% with release_indices|length as nbindices %}
	        <div class="input-group-btn">
	          <button type="button" class="btn btn-default dropdown-toggle {% if not nbindices %}disabled{%endif%}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            <span class="">Un autre indice de la même version</span>
	            <span class="caret"></span>
	          </button>
              
	          <ul class="dropdown-menu dropdown-menu-right">
                {% for indice in release_indices %}
	            <li><a id="btn_indice_{{ indice }}" data-release="{{ indice }}" class="btn_compare_releases" href="#">{{ indice }}</a></li>
                {% endfor %}
	          </ul>
	        </div>
            {% endwith %}
{#            {% endif %} #}
            <button type="button" class="btn btn-default btn_compare_release_source">Tous les modules source</button>
          </div>
          
          <div class="compare-control hidden">
            <div class="panel panel-info">
              <div class="panel-body">
                <p>comparaison avec <span class="info_compare"></span> : <span class="counter">0</span> différences.</p>
                <p>
                  <button id="compare_prev" type="button" class="btn btn-default">&lt;</button>
                  <button id="compare_next" type="button" class="btn btn-default">&gt; </button>
                  <button id="compare_close" type="button" class="btn btn-default pull-right">Fermer la comparaison </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="panel panel-default" id="release_details">
      <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" href="#collapseRD" class="collapsed">
	    <small>
	      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	      <span class="glyphicon glyphicon-chevron-down" aria-hidden="false"></span>
	    </small>
	    Configuration
	  </a>
	</h4>
      </div>
      
      <div id="collapseRD" class="panel-collapse collapse  ">
	    <div class="panel-body">
          <h5>
	        <a data-toggle="collapse" href="#collapseProfils" class="collapsed">
	          <small>
	            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	            <span class="glyphicon glyphicon-chevron-down" aria-hidden="false"></span>
	          </small>
	          Profils
	        </a>
          </h5>
          <div class="collapse" id="collapseProfils">
	        <div class="row">
	          {% for profile in releaseparams.profiles %}
	          <div class="col-sm-12 col-md-6">
	            <h6>
	              <a data-toggle="collapse" href="#collapseProfil{{ forloop.counter }}" class="collapsed">
	                <small>
	                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	                  <span class="glyphicon glyphicon-chevron-down" aria-hidden="false"></span>
	                </small>
                    {{ profile.label }}
	              </a>
                  <a href="#" class="kolekti-activate-profile" data-active="yes" data-profile="{{ profile.label }}">
                    <span class="text-success">
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </span>
                    <span class="text-danger hidden">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </span>
                  </a>
                </h6>
                
                <div class="collapse" id="collapseProfil{{ forloop.counter }}">
                  <ul>
		            {% for criterion,value in profile.criteria.items %}
		            <li>{{criterion}}:{{value}}</li>
		            {% endfor %}
	              </ul>
                </div>
	          </div>                
	          {% endfor %}
            </div>
          </div>
          
	      <h5>
	        <a data-toggle="collapse" href="#collapseSorties" class="collapsed">
	          <small>
	            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	            <span class="glyphicon glyphicon-chevron-down" aria-hidden="false"></span>
	          </small>
              Sorties
            </a>
          </h5>
          <div class="collapse" id="collapseSorties">
	        <ul>
	          {% for script in releaseparams.scripts %}
	          <li>
                <span>{{ script }}</span>
                <a href="#" class="kolekti-activate-output" data-active="yes" data-output="{{ script }}">
                  <span class="text-success toggle">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  </span>
                  <span class="text-danger hidden toggle">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </span>
                </a>
              </li>
	          {% endfor %}
	        </ul>
          </div>
	    </div>

	  </div>
	</div>
    
    <div id="release_publications">
    </div>

    <div class="panel panel-default hidden" id="release_picture">
      <div class="panel-heading">
	    <h4 class="panel-title">
	      <small>
	        <span class="glyphicon glyphicon-chevron-down" aria-hidden="false"></span>
	      </small>
	      Infos Image
	    </h4>
      </div>
      
	  <div class="panel-body" id="preview">
      </div>
    </div>

    
{% endif %}
{% endfor %}    
{% endblock %}


{% block content %}
    <div id="main" class="release"
         data-release="{{release_path}}"
         data-lang="{{ relang }}"
         data-state="{{ langstate }}"
	 {% if validactions %}
	 data-valid-actions="yes"
	 {% endif %}
	 >
      <ul class="nav nav-tabs" role="tablist" id="release_tabs">

	{% for rlang, state, focus in langstates %}
	
	<li role="presentation"class="{% if rlang == relang %}active{% endif %} {% if state == "unknown" %} pull-right{% endif %}">
	 
	  <a href=" {% if rlang != relang %}{% url "kolekti_release_lang_detail" project=project release=release lang=rlang %}{% endif %}#"
	     aria-controls="release_content_ {{ rlang }}"
	     data-state="{{ state }}"
	     data-lang="{{ rlang }}"
	     class="text-center {% if focus %} focus{% endif %}"
	     {% if  state == "unknown" %}
	     title="Créer la version {{ rlang }}"
	     {% endif %}
	     >
	    <span class="state-picto state_{{state}}">
	      <div class="state_status_background">
		<div class="state_status_inside">
		</div>
	      </div>
	      <span class="state lead">{{ rlang }}</span>
	    </span>
	  </a>
	     
	</li>

	{% endfor %}
      </ul>
      <!-- Tab panes -->

      <div class="tab-content ">
	{% for rlang, state, focus in langstates %}
	{% if rlang == relang %}
	<div role="tabpanel" class="tab-pane tab-lang{% if rlang == relang %} active{% endif %}" id="release_content_{{ rlang }}" data-lang="{{ rlang}}">
	  {% if state == "unknown" %}
	  <div class="panel panel-info">
	    <div class="panel-heading">
	      <form action="{% url 'kolekti_release_lang_copy' project=project release=release lang=rlang %}" method="POST">
            {% csrf_token %}
                          
		    <div class="form-group">
		      <p><strong>Cette version n'existe pas en langue <em> {{ rlang }}</em></strong></p>
		      <div class="form-group">
		        <label for="release_copy_from_lang">Sélectionnez la langue source à partir de laquelle doit être crée la version <em>{{ rlang }}</em> : </label>
		        <select name="release_copy_from_lang">
		          {% for mrlang, mstate, focus in langstates %}
		          {% if mstate != 'unknown' %} 
		          <option value="{{ mrlang }}">{{ mrlang }}</option>
		          {% endif %}
		          {% endfor %}
		        </select>
		      </div>
		      <input type="hidden" name="release_lang" value="{{ rlang }}"/>
		      <input type="hidden" name="release" value="{{ release_path }}/{{assembly_name}}"/>
		      <button type="submit" class="btn btn-default">Créer</button>
		    </div>
	      </form>
	    </div>
	  </div>
	  {% else %}
	  
	  <div class="panel panel-info">
	    <div class="panel-heading">
	      {% if state == "unversionned" %}
	      <p><strong>Cette langue n'a pas été synchronisée, le statut est indisponible</strong><br/>
		    <a href="/sync/">Synchroniser le projet</a>
	      </p>
	      {% elif state == "local" %}
	      <p><strong>Le statut est indisponible dans un projet mono utilisateur </strong></p>
	      {% elif state == "sourcelang" %}
	      <p>Langue source de la version</p>
	      {% else %}
	      <form>
		<div class="form-group">

	      	  <label for="statemenu">Statut :</label>
		  <div class="btn-group">
	      	    <button class="btn btn-default btn-sm btn-lang-menu-{{ rlang }} btn-lang-menu-{{ state }} btn-lang-menu dropdown-toggle" type="button"
			  name="statemenu"
			    title="{{ state }}"
			    data-lang="{{ rlang }}"
			    data-state="{{ state }}" 
			    data-toggle="dropdown"
			    aria-expanded="true">
		      <span class="state">{{state|statustext}}</span>
		      <span class="caret"/>
		    </button>
		    <ul class="dropdown-menu" role="menu" data-target-lang="{{ rlang }}">
		      <li><a class="release-state" data-state="edition" href="#" ><span>Nouveau</span></a></li>
		      <li><a class="release-state" data-state="translation" href="#"><span class="text-primary">En traduction</span></a></li>
		      <li><a class="release-state" data-state="validation" href="#"><span class="text-warning">En relecture</a></li>
		      <li><a class="release-state" data-state="publication" href="#"><span class="text-success">Officialisé</a></li>
		    </ul>
		  </div>
		  <a class="btn btn-sm btn-default pull-right" href="#" id="suppr_lang">Supprimer cette langue</a>
		</div>
		<!--
		<div class="checkbox">
		  <label>
		    <input type="checkbox" id="focus_{{ relang }}"/>Focus
		  </label>
		</div>
		-->
	      </form>
	      
	      {% endif %}
	    </div>
                  {% if success %}
        
	    <div class="panel-body">
	      <div class="row">
		    <div class="col-sm-6 col-md-6">

		          <div class="btn-group">
		            <button type="button" class="btn btn-default btn-release-pane active" id="btn_assembly">
		              Assemblage
		            </button>
		            <button type="button" class="btn btn-default btn-release-pane
                                                 {% if not has_pictures %} disabled {% endif %}
                                                 " id="btn_illust">
		              Images
		            </button>
		            <button type="button" class="btn btn-default btn-release-pane
                                                 {% if not has_variables %} disabled {% endif %}
                                                 " id="btn_variables">
		              Variables
		            </button>
		          </div>

		    </div>
	      </div>
	      <div id="content_pane" class="release-panel-part">
	      </div>
	      <div id="illust_pane" class="release-panel-part hidden">
	
	      </div>
	      <div id="variables_pane" class="release-panel-part hidden">
	      </div>
	    </div>
        {% else %}

	    <div class="panel-body">
	      <div class="row">
		    <div class="col-sm-12 col-md-12">
              <div class="alert alert-warning">
                <h3>Erreur XML lors de l'analyse de l'assemblage.</h3>
                <pre>{{ error }}</pre>
                {% if request.method == 'POST' %}
                <h4>L'assemblage n'a pas été importé.</h4>
                {% endif %}
                
              </div>

            </div>
          </div>
        </div>
                  {% endif %}	    
	  </div>
	  {% endif %}	  
	</div>
	{% endif %}	  
 	{% endfor %}

	<div id="browsers">
	  <div class="browser_lang collapse in" id="browser_lang">
	  </div>
	  <div class="browser_share collapse" id="browser_share">
	  </div>
	</div>
	
      </div>
      <div id="uploadmodal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
	      <h4 class="modal-title">Importer fichier ods</h4>
	        </div>
	        <form id="uploadform" method="POST" enctype="multipart/form-data">
	          <div class="modal-body">
	            <p>Sélectionnez ou déposez le fichier ods à importer</p>
	            <input type="file" id="upload_file" name="upload_file" class="form-control upload"/>
	            <input type="hidden" id="variable_file_path" name="path" value=""/>
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
	            <button type="button" class="btn btn-primary doimport">Importer</button>
	      </div>
	        </form>
          </div>
        </div>
      </div>
    </div>

{% endblock %}



{% block modal-body %}
{% endblock %}



