{% extends "base-wide.html" %}
{% load static %}

{% block title %}Versions{% endblock %}
{% block current_releases %}class="menu-current"{% endblock %}

{% block extracss %}
<link href="{% static "css/kolekti-releases-browser.css" %}" rel="stylesheet">
{% endblock %}


{% block extrascripts %}
    <script src="{% static "js/kolekti-releaselist.js" %}"></script>
{% endblock %}

{% block menu %}

<div id="detail_release">
</div>
{% endblock %}


{% block content %}

<div class="main">
  <div class="title">
  </div>
  <div class="browser" data-browserpath="/releases">
  </div>
</div>

{% include "releases/modal-rename.html" %}
{% include "releases/modal-update.html" %}

{% endblock %}

