<div class="modal fade" id="modal_release_rename">
  <div class="modal-dialog modal-lg">
	<div class="modal-content">
	  <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
        <h4 class="modal-title">Renommer la version</h4>
	  </div>
	  <div class="modal-body">
        <div class="form-inline">
          <label for="modal_release_rename_major_name"> Nom principal</label>
          <div class="input-group md-6">
            <input type="text" class="form-control span2" size="16" placeholder="Nom principal de la version" id="modal_release_rename_majorname"/>
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
              <ul id="modal_release_rename_menu_majorname" class="dropdown-menu dropdown-menu-right" role="menu">
              </ul>
            </div>              
          </div>
          <label for=""> _ </label>
          <div class="input-group md-4">
            <input type="text" class="form-control" placeholder="Nom principal de la version" id="modal_release_rename_index"/>
          </div>
            
        </div>      
      </div>
      
      <div class="modal-footer">
        <button class="btn btn-default" id="modal_release_rename_cancel" data-dismiss="modal">Annuler</button>
        <button class="btn btn-primary" id="modal_release_rename_confirm">Renommer</button>
      </div>

    </div>    
  </div>
</div>





