    {% if publications %}
    <div class="panel panel-default" >
      <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" href="#collapsePU" class="collapsed">
	    <small>
	      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	      <span class="glyphicon glyphicon-chevron-down" aria-hidden="false"></span>
	    </small>
	    Publications
	  </a>
	</h4>
      </div>
      
      <div id="collapsePU" class="panel-collapse collapse in ">
	<div class="panel-body">
	  <div class="row">
	    <div class="col-sm-12 col-md-12">

	      {% for publication in publications %}
	      {% if publication.event == 'profile' %}
	      <p>{{ publication.label }}</p>
	      {% endif %}
	      
	      {% if publication.event == 'result' %}
	      <ul>
		{% for doc in publication.docs %}
		<li><a href="{{doc.url}}">{{doc.label}}</a></li>
		{% endfor %}
	      </ul>
	      {% endif %}
	      
	      {% endfor %}
	    </div>
	</div>
      </div>
    </div>
    {% endif %}
