{% if publications %}
<div class="panel panel-default" >
  <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" href="#collapsePU" class="collapsed">
	    <small>
	      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	      <span class="glyphicon glyphicon-chevron-down" aria-hidden="false"></span>
	    </small>
	    Publications
	  </a>
	</h4>
  </div>
  
  <div id="collapsePU" class="panel-collapse collapse in ">
      {% for publication in publications %}
	  <div class="panel-body">
        <h5>{{ publication.date }}</h5>
      </div>
	  <ul class="list-group">          
  	    {% for langinfo in publication.languages %}
	    {% for id, docs in langinfo.result.items %}
        {% for doc in docs.docs %}
		<li class="list-group-item"><small>{{ langinfo.label }}</small><br> <a href="{% url 'kolekti_project_static' project=project path=doc.url %}">{{doc.label}}</a>   
        </li>
		{% endfor %}
		{% endfor %}
	    
	    {% endfor %}
      </ul>
      <div class="panel-footer">
        <a href="{% url 'kolekti_release_publications_zip' project=project release=release timestamp=publication.time %}">Zip des fichiers</a>
      </div>
	  {% endfor %}
  </div>
</div>
{% endif %}
  
