{% extends "base.html" %}
{% load ostags %}

{% block current_trames %}class="menu-current"{% endblock %}

{% block extracss %}
    <link rel="stylesheet" type="text/css"  href="/static/css/kolekti-tocs.css"></link>
    <link rel="stylesheet" type="text/css"  href="/criteria.css"></link>
{% endblock %}


{% block extrascripts %}
    <script src="/static/js/kolekti-topics-common.js"></script>
    <script src="/static/js/kolekti-tocs.js"></script>
    <script src="/static/js/kolekti-tocs-filter.js"></script>
{% endblock %}

{% block title %}
        <small><a data-toggle="mycollapse" href="#" id="btn_toggle_all" class="collapsed"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-down" aria-hidden="false"></span></a></small>
	{{ tocdisplay }}
{% endblock %}


{% block menu %}
    
    <div class="row">
      <div class="col-sm-12 col-md-12">
	<button type="button" class="btn btn-block btn-default disabled" id="btn_save">
	  Enregistrer
	</button>
      </div>
    </div>


    <div class="row top-margin">
      <div class="col-sm-6 col-md-6">
	<button type="button" class="btn btn-block btn-primary btn_publish" id="btn_draft">Publier</button>
      </div>
      <div class="col-sm-6 col-md-6">
	<button type="button" class="btn btn-block btn-default btn_publish" id="btn_release">Créer une version</button>
      </div>
    </div>
    <br/>

    <div class="panel panel-default">
      <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" href="#collapsePublier" class="collapsed">
	    <small>
	      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	      <span class="glyphicon glyphicon-chevron-down" aria-hidden="false"></span>
	    </small>
	    Paramètres de publication
	  </a>
	</h4>
      </div>
      <div id="collapsePublier" class="panel-collapse collapse">
	<div class="panel-body">

	  <h5>
	  Nom de la publication
	  </h5>	  
	  <input type='text'
		 class='block-control'
		 id='input_toc_title'
		 value="{{ toctitle }}"/>
	  <h5>
	  Dossier de la publication/version
	  </h5>	  
	  <input type='text'
		 class='block-control'
		 id='input_toc_pubdir'
		 value="{{ tocmeta.pubdir }}"/>


	  <h5>
	  Fichier de paramètres
	  </h5>
	  <span class="btn-group">
	    <button type="button" class="btn btn-default btn-block" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" data-kolekti-jobpath="{{ tocmeta.jobpath }}">		  
	      <span class="label_job">{{ tocmeta.job|urlbasename }}</span>
	      <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	      {% for job in jobs %}
	      <li role="presentation">
		<a href="#" role="menuitem" tabindex="-1" class="entry_tocjob" 
		   data-kolekti-jobpath="{{ job.path }}">
		  {{ job.name }}
		</a>
	      </li>
	      {% endfor %}
	    </ul>
	  </span>
	  <a id="editjoblink" href="/settings/job?path={{ tocmeta.jobpath }}" title="Éditer les paramètres"><span class="glyphicon glyphicon-cog"> </span></a>


	  
	  {% for job in jobs %}


	  <div class="row {% if job.path != tocmeta.jobpath %}hidden{% endif %} kolekti-job kolekti-job-{{ job.name }}"
	       data-kolekti-jobname="{{ job.name }}" data-kolekti-job="{{ job.path }}">
	    <div class="col-sm-12 col-md-12">

	      <h5>Profils</h5>
	    </div>
	    {% for profile in job.profiles %}
	    {% if profile.1 == "1"%}
	    <div class="col-sm-6 col-md-6">
	      <div class="checkbox" checked>
		<label>
  		  <input type="checkbox" class="publish_job_profile" id="job_{{ job.name }}_{{ profile.0 }}" data-kolekti-profile="{{ profile.0 }}" checked/>
		  {{ profile.0 }}
		</label>
	      </div>
	    </div>
	    {% endif %}
	    {% endfor %}
	    <div class="col-sm-12 col-md-12">
	      <h5>Sorties</h5>
	    </div>
	    {% for script in job.scripts %}
	    <div class="col-sm-6 col-md-6">
	      <div class="checkbox">
		<label>
  		  <input type="checkbox" class="publish_job_script" id="job_{{ job.name }}_{{ script }}" data-kolekti-script="{{ script }}" checked/>
		  {{ script }}
		</label>
	      </div>
	    </div>
	    {% endfor %}
	  </div>
	  {% endfor %}
	</div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" href="#collapseAfficher" class="collapsed">
	    <small>
	      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	      <span class="glyphicon glyphicon-chevron-down" aria-hidden="false"></span>
	    </small>
	    Vue filtrée
	  </a>
	</h4>
      </div>
      <div id="collapseAfficher" class="panel-collapse collapse">
	<div class="panel-body">
	  <ul class="list-group" id="userconditions" >
	    <!-- filtrage -->	    
	  </ul>
	</div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" href="#collapseDiag" class="collapsed">
	    <small>
	      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	      <span class="glyphicon glyphicon-chevron-down" aria-hidden="false"></span>
	    </small>
	    Diagnostic
	  </a>
	</h4>
      </div>
      <div id="collapseDiag" class="panel-collapse collapse">
	<div class="panel-body diag">
	  <p> En cours de chargement... </p>
	</div>
      </div>
    </div>

{% endblock %}


{% block content %}
    <hr>
    <div id="toc_root" data-kolekti-title="{{ toctitle }}" data-kolekti-path="{{ tocpath }}"  
      {% for namemeta, valuemeta  in tocmeta.items %}
      data-kolekti-meta-{{ namemeta }}="{{ valuemeta }}"
      {% endfor %}
      >
      
  {{ toccontent|safe}}
   </div>
{% endblock %}

