{% extends "base-wide.html" %}
{% load static %}

{% block title %}Trames{% endblock %}
{% block current_trames %}class="menu-current"{% endblock %}
{% block help-topic %}toc{% endblock %}

{% block extrascripts %}
    <script src="{% static "js/kolekti-toclist.js" %}"></script>
{% endblock %}

{% block menu %}
{% endblock %}


{% block content %}

<div class="main">
  <div class="title">
  </div>
  <div class="browser" data-browserpath="/sources/{{ lang }}/tocs/{% if toc_path%}{{toc_path}}/{% endif %}"> 
  </div>
</div>
{% endblock %}

