{% extends "page_ecorse.html" %}

{% block page-content %}
<div class="container-fluid">
  <div class="row">
    {% if release %}
    <div class="col-sm-3 col-md-2 sidebar">
      {% block sidebar %}{% endblock %}
    </div>
    <div class="col-sm-9 col-md-offset-2 col-md-10 main">
    {% else %}
    <div class="col-sm-12  main">
    {% endif %}

    {% comment %}
    <ol class="breadcrumb">
      <li><a href="/">Accueil</a></li>
      
      {% if release %}
      <li><a href="#">{{ release }}</a></li>
      {% if section %}
      <li class="active">{{ current }}</li>				
      {% endif %}
      {% endif %}
    </ol>
    {% endcomment %}
    {% if release %}    
    <div class="jumbotron">
      <h1 class="pagetitle"><a href="?release=/releases/{{ current }}"><strong>{{ current }}</strong></a></h1>
    </div>
    {% endif %}

    {% block content %}generic template{% endblock %}

    </div>
    </div>
  </div>
{% endblock %}


