{% extends "page_ecorse.html" %}

{% block page-content %}
<div class="container-fluid">
  <div class="row">
    {% if release %}
    <div class="col-sm-3 col-md-2">
        <div class="sidebar">
          {% block sidebar %}{% endblock %}
        </div>
      </div>
      <div class="col-sm-9 col-md-10 main">
    {% else %}
    <div class="col-sm-12 main">
    {% endif %}

    
    {% comment %}
    <div class="well breadcumb-wrapper">
      <ol class="breadcrumb">
        {% for ariane_elt in ariane %}
          <li><a href="{{ ariane_elt.url }}">{{ ariane_elt.label }}</a></li>
          {% if forloop.last %}
            <li class="last">{{ ariane_elt.label }}</li>
          {% endif %}
        {% endfor %}        
      </ol>
    </div>
    {% endcomment %}
   
    
    <div class="page-header">
      {# {% if release %}<h2 class="pagetitle"><a href="?release=/releases/{{ current }}"><strong>{{ reportname }}</strong></a></h2>{% endif %} #}
      {% if ariane %}
      <ol class="breadcrumb">
        {% for ariane_elt in ariane %}          
          {% if forloop.last %}
            <li class="last">{{ ariane_elt.label }}</li>
          {% else %}
            <li><a href="{{ ariane_elt.url }}">{{ ariane_elt.label }}</a></li>
          {% endif %}
        {% endfor %}
      </ol>
      {% endif %}
    </div>


    {% block content %}generic template{% endblock %}

    </div>
    </div>
  </div>
{% endblock %}


