.ecorse-chart {
    font: 10px sans-serif;
}


.bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
}

.bar text {
    fill: #fff;
}

.axis path, .axis line, .zeroaxis {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.hiddenaxis.axis path,
.hiddenaxis.axis line
{
    stroke:none;
}

.area {
    fill-opacity:0;
    stroke-width:2;
}