{% extends "ui_page.html" %}

{% macro node(node, path = "") -%}
   <li><a href="{{ path }}">{{ node.name }}</a>
   {% if len(node) %}
     <ul>
       {% for n,c in node.iteritems() %}
       {{ node(c, path + "/" + n) }}
       {% endfor %}
     </ul>
    {% endif %}
</li>
{%- endmacro %}

{% block brand %}
{{ kolekti.config.project }}
{% endblock %}


{% block navbar %}
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav">
    <li>
      <a href="#">Configuration</a>
    </li>
    <li class="dropdown">
      <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control">
      </div>
      <button type="submit" class="btn btn-default" style="display:inline-block"><i class="icon-search"></i> </button>
      <button type="submit" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Rechercher dans les noms</a></li>
        <li><a href="#">Rechercher dans les modules</a></li>
        <li><a href="#">Rechercher dans les publications</a></li>
        <li class="divider"></li>
        <li><a href="#">Rechercher sur internet</a></li>
      </ul>
      

      </form>
    </li>
  </ul>


  <ul class="nav navbar-nav navbar-right">
    <li>
    <a href='#' data-reveal-id='aboutModal' >A Propos</a>
    </li>

  </ul>
</div>

{% endblock %}

{% block modals %}
<div id="aboutModal" class="reveal-modal">
  <h1>A propos de kolekti</h1>
  
  <p>Kolekti est un environnemnt de production automatisée de documents modulaires personalisables</p>
  <hr/>
  <p>Copyright Exselt Services 2012-2013</p>
  <p><a href='http://www.kolekti.org'>http://www.kolekti.org/</a></p>
  <a class="close-reveal-modal">&#215;</a>
</div>

{% endblock %}

{% block content %}
<div class="row" id="langselector">
  <div class="col-md-12">
    {% for l in kolekti.config.languages %}
    <button class="btn btn-xs">{{ l.code }}</button>
    {% endfor %}
  </div>
</div>



<div class="row">

<div class="col-md-3" id="leftpanel">  

<div class="bs-sidebar hidden-print affix" role="complementary">
<div class="index_base">    
</div>
</div>
    
    {#
    <div class="panel-group" id="accordionr">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionr" href="#collapserOne">Trames</a>
          </h4>
        </div>
        <div id="collapserOne" class="panel-collapse collapse in">
          <div class="index_trames">
          </div>
          <p class="actions"><button class="btn btn-xs">Créer</button><button class="btn btn-xs">Supprimer</button></p>
	</div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionr" href="#collapserTwo">Modules</a>
          </h4>
        </div>
        <div id="collapserTwo" class="panel-collapse collapse">
          <div class="index_modules">
          </div>
          <p class="actions"><button class="btn btn-xs">Créer</button><button class="btn btn-xs">Supprimer</button></p>
	</div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionr" href="#collapserThree">Images</a>
          </h4>
        </div>
        <div id="collapserThree" class="panel-collapse collapse">
          <div class="index-image">
          </div>
          <p class="actions"><button class="btn btn-xs">Créer</button><button class="btn btn-xs">Supprimer</button></p>
	</div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionr" href="#collapserFour">Lancements</a>
          </h4>
        </div>
        <div id="collapserFour" class="panel-collapse collapse">
          <div class="index-lancements">
          </div>
          <p class="actions"><button class="btn btn-xs">Créer</button><button class="btn btn-xs">Supprimer</button></p>
	</div>
#}
	</div>  
    </div>

    
  </div>
  <div class="col-md-8" id="mainpanel">
    
  </div>
  <div class="col-md-2" id="leftpanel">
  </div>
</div>

{% endblock %}

{% block footscripts %}{% endblock %}