{% extends "ui_page.html" %}

{% block content %}
<ul class="directorylist">
  <li><i class="icon-arrow-up"></i> <a href="..">Dossier Parent</a></li>
  {% for item in dircontent %}
  {% if not item[0].path == info[1].URL %}
  <li>
  <a href="{{ item[2].path }}" title="{{ item }}">
  {% if item[0].kind == 'dir' %}
  <i class="icon-folder-close"> </i>
  {% else %}
  <i class="icon-file"> </i>
  {% endif %}
  {{ item[2].name }}
  </a>
  </li>
  {% endif %}
  {% endfor %}
  
</ul>
{% endblock %}

{% block objicon %}<i class="icon-folder-open"> </i>{% endblock %}