{% extends "ui_page.html" %}

{% block content %}
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#view" data-toggle="tab">{{ info[0] }}</a></li>
  <li><a href="#history" data-toggle="tab" >Historique</a></li>
  <li><a href="#infos" data-toggle="tab" >A propos</a></li>
{% block tabs_resource_nav %}{% endblock %}
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="view">
    <div class="alert alert-info">
      <p>Rev. {{ info[1].rev.number }} - <a href="{{ rawurl }}" target="kolekti_raw">Lien direct</a></p>
    </div>
    {% block resource_content %}
      <iframe style="border:none; width:100%; min-height:400px; top:0; bottom:10px;" src="{{ rawurl }}">
    </iframe>
    {% endblock %}
  </div>

  <div class="tab-pane" id="history">
    <div class="accordion" id="resource_history">
      {% for rev in history %}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#resource_history" href="#resource_info_history_{{ rev.revision.number }}">
	    Rev. #{{ rev.revision.number }}, le {{ rev.date_fmt }}, par <em>{{ rev.author }}</em>
	  </a>
        </div>
        <div id="resource_info_history_{{ rev.revision.number }}" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>{{ rev.message }}</p>
	  </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>  
{% endblock %}


