.kolekti-sparql-query,
.kolekti-sparql-template,
.kolekti-sparql-result-json {
    display:none;
}

.topic h3 {
    margin-left:20px;
    font-size: 120%;
		    
}

.topic .panel {
    margin-bottom:20px;
}

/*
.topic .panel .panel-heading {
    min-height:100px
}
*/

.topic .panel .panel-footer p {
    margin-bottom:0;
}


.topic.details .ecorse-action-showdetails
{
    display:none;
}


.modal-topic-details .modal-dialog {
    width: 95%;
    height:95%;
}

.modal-topic-details .modal-content {
    height: auto;
    min-height: 100%;
}
.modal-topic-details .modal-body {
    max-height: 80%;
    overflow-y: scroll;
    
}

.topic.disabled {
    opacity:0.4;
}