
div.section>div> .panel-body {
    padding-right: 0px;
    padding-left:50px;
}

.topiccontent {
    padding-right:60px;
    padding-left:15px;
}

.kolekti-shared-topic {
   padding-left:15px;
}

.jobdetail {
    padding-top:0;
    padding-bottom:0;
}

.btn-kolekti-metatoc {
    margin-right:20px;
}

#toc_root .panel {
    margin-bottom:2px;
}

.kolekti-job h6 {
    font-weight:bold;
    font-size:100%
}

#editjoblink {
    font-size:120%;
}