/* releases browser */

.release-index .kolekti-browser-icon {
    text-align:right;
}

.release-index .kolekti-browser-name {
    padding-left:30px;
}

.kolekti-browser-release-state .langstate {
    margin-right:5px;
    border-radius:2px;
    height: 12px;
    width: 10px;
    padding: 0 2px;
    border: 1px solid rgb(221, 221, 221);
    background-color: white;
    opacity:1;
    position:relative;
}

.kolekti-browser-release-state .langstate a{
    position:relative;
    z-index: 10;
}

.kolekti-browser-release-state .releaselangback {
    position: absolute;
    bottom: 0;
    color: red;
     width: 100%;
    display: inline-block;
    left: 0;
    z-index: 5;
}

.kolekti-browser-release-state .langstate.sourcelang .releaselangback{
    background-color: #8dcc73;
    height: 100%;
}
/*
.kolekti-browser-release-state .langstate.sourcelang a{
    color:white;
}
*/
.kolekti-browser-release-state .langstate.edition .releaselangback{
    background-color: #98d1f7;
    height: 25%;
}

.kolekti-browser-release-state .langstate.translation .releaselangback{
    background-color: #98d1f7;
    height: 50%;
}

.kolekti-browser-release-state .langstate.validation .releaselangback{
    background-color: #98d1f7;
    height: 85%;
}

.kolekti-browser-release-state .langstate.publication .releaselangback{
    background-color: #a6f087;
    height: 100%;
}

.kolekti-browser-release-state .langstate.nostate .releaselangback{
    background-color: #D0D0D0;
    height:20%;
}

