/* room for navbar */
body {
    padding-top:50px;
}

/*
.side .affix {
    width:100%;
}

@media (min-width: 768px) {
.side .affix, 
.side .affix-bottom {
width: 213px;
}
}

@media (min-width: 992px) {
.side .affix, .side .affix-bottom {
width: 412px;
}
}
*/
/** toggles in collapse headers */
a[data-toggle=mycollapse] span[aria-hidden=true] ,
a[data-toggle=collapse] span[aria-hidden=true] {
    display:none;
}
a[data-toggle=mycollapse].collapsed span[aria-hidden=true] ,
a[data-toggle=collapse].collapsed span[aria-hidden=true] {
    display:inline;
}
a[data-toggle=mycollapse] span[aria-hidden=false] ,
a[data-toggle=collapse] span[aria-hidden=false] {
    display:inline;
}
a[data-toggle=mycollapse].collapsed span[aria-hidden=false] ,
a[data-toggle=collapse].collapsed span[aria-hidden=false] {
    display:none;
}
a[data-toggle=mycollapse] ,
a[data-toggle=collapse] {
    color: black;
}
a[data-toggle=mycollapse]:hover ,
a[data-toggle=collapse]:hover {
    text-decoration:none;
}

a[data-toggle=mycollapse] small,
a[data-toggle=collapse] small
{
    margin-right: .5em;
}

/** sidepanel overrides */
.side .checkbox {
    margin-top:0px;
    margin-bottom:0px;
}

.side h5 {
    margin-top:16px;
    border-bottom:1px solid #D0D0D0;
}

.side {
    margin-top: 25px;
}

.section>.panel-heading h1,
.section>.panel-heading h2,
.section>.panel-heading h3,
.section>.panel-heading h4,
.section>.panel-heading h5,
.section>.panel-heading h6 {
    margin-top:0;
    margin-bottom:0;
    font-size:26px;
}
.section>.panel-heading h1 {
}
.section>.panel-heading h2 {
}
.section>.panel-heading h3 {
}
.section>.panel-heading h4 {
}
.section>.panel-heading h5 {
}
.section>.panel-heading h6 {
}
a.pathstep:active,
a.pathstep {
color:black;
}

label {
    font-weight:100;
}


.navbar-inverse {
 background-color: #428BCA;   
}


/* current menubar item */


.navbar-inverse .navbar-nav>li>a {
    color: #E0E0E0;
    font-weight:bold;
}

.menu-current {
    background-color:#225BAA;
}

.menu-current>a {
    color:white !important;
    font-weight:bold;
}

.top-margin { margin-top:10px; }
