.table td,
.table th {
    border: 1px solid #ddd;
    max-width:120px;
}

.table>thead>tr.colheaders,
.table>thead>tr.colheaders>td {
    border:none;
    padding:0;
}

.table tbody th span.btn-group {
    display:block;
}
.table tbody th span.var_name {
    font-size:80%
}
.table tbody th  {
    background-color:  #F8F8F8;
}