{% extends "page_ecorse.html" %}
{% load bootstrap %}
{% block page-content %}
<div class="row">
  <div class="col-md-6 col-xs-10 col-md-offset-3 col-xs-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
	Profil utilisteur {{ user.username }}
      </h4>
    </div>
    <div class="panel-body">
      <form role="form" method="POST">
	{% csrf_token %}
	{{form|bootstrap}}
	<button type="submit" class="btn btn-primary">Enregistrer</button>
      </form>
    </div>
  </div>
  </div>
</div>
{% endblock %}
