{% load "static" %} 
{% extends "window.html" %}
{% load static %}


{% comment %}
{% block extrascripts %}
    <script src="{% static "js/kolekti-browser.js" %}"></script>
{% endblock %}
{% endcomment %}

{% block page-content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 main">
	  <div class="main">
	    <div class="title">
	    </div>
	    <div class="browserparent"
		 data-editor="{{ editor }}"
		 data-path="{{ path }}"
		 data-funcnum="{{ funcnum }}">
	    </div>
	  </div>
	  
	</div>
      </div>
    </div>
{% endblock %}
