{% extends "base.html" %}
{% load timetags %}

{% block title %}Synchronisation{% endblock %}

{% block extrascripts %}
    <script src="/static/js/kolekti-synchro.js"></script>
{% endblock %}

{# history #}
{% block menu %}
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3>Historique</h3>
      </div>
      <div class="panel-body">
	{% for commit in history %}
	<p><span class="badge">{{commit.revision.number}}</span> par {{commit.author}}, le {{commit.date|print_timestamp}}</p>
	<div class="panel panel-default">
	  <div class="panel-body">
	    <p>{{commit.message}}</p>
	  </div>
	</div>
	</blockquote>
	{% endfor %}
      </div>
    </div>
{% endblock %}


{% block content %}

<div class="main">
  {% if changes.error|length %}
  <div class="alert alert-error">
   <strong>Mise à jour impossible</strong> votre copie de travail est en état de conflit. 
   <p>Utlisez votre client subversion pour résoudre les conflits et synchroniser le projet</p>
  </div>


  {% else %}
  {% if changes.conflict|length %}
   <div class="alert alert-warning">

     <h3>
       <strong>Attention</strong> des fichiers ont été modifiés localement et sur le dépot
     </h3>
     <div class="panel panel-default">
       <div class="panel-body">
	 <h4>Modifications concurrentes ne pouvant pas etre fusionnées</h4>
	 <ul>
	   <li class="checkbox">
	     <label>
	       <input id="selectall" type="checkbox" value="">
	       Tout séléctionner / déselectionner
	     </label>
	     <hr>
	   </li>
	   {% for e in changes.conflict %}
	   <li class="checkbox">
	     <label>
	       <input class="selectentry entrey-conflit" data-path="{{ e.path }}" type="checkbox" value="">
	       {{ e.path }} 
	     </label>
	     {% if e.kind == "file" %}
	     <span class="pull-right"><a title="[R:{{e.rstatus}} W:{{e.wstatus}}]" href="/sync/diff?file={{e.path}}" target="diff">diff</a></span>
	     {% endif %}
	     <br>
	   </li>
	   {% endfor %}
	 </ul>
	 <hr/>
	 <div class="form-group">
	   <label class="col-sm-6 control-label">Avec les fichiers sélectionnés</label>
	   <div class="col-sm-5">
	     <select class="form-control select-conflit">
	       <option value="local">Conserver la version locale</option>
	       <option value="remote">Remplacer par la version distante</option>
	       {# 	 <option>Marquer comme résolu</option> #}
	     </select>
	     </div>
	 </div>
	 <div class="col-sm-1">
	   <button class="btn btn-default -conflict">ok</button>
	 </div>
	 
	   
	   
	 {% if changes.merge|length %}
	 <h4>Modifications concurrentes pouvant etre fusionnées</h4>
	 <ul>
	   <li class="checkbox">
	     <label>
	       <input id="selectall" type="checkbox" value="" data-path="{{ e.path }}">
	       Tout séléctionner / déselectionner
	     </label>
	     <hr>
	   </li>
	     {% for e in changes.merge %}
	   <li class="checkbox">
	     <label>
	       <input class="selectentry entry-merge" type="checkbox" value="">
	       {{ e.path }}
	     </label>
	     {% if e.kind == "file" %}
	     <span class="pull-right"><a title="[R:{{e.rstatus}} W:{{e.wstatus}}]" href="/sync/diff?file={{e.path}}" target="diff">diff</a></span>
	     {% endif %}
	     <br>
	   </li>
	   {% endfor %}
	 </ul>
	 <hr/>
	 <div class="form-group">
	   <label class="col-sm-6 control-label">Avec les fichiers sélectionnés</label>
	   <div class="col-sm-5">
	     <select class="form-control select-merge">
	       <option value="local">Conserver la version locale</option>
	       <option value="remote">Remplacer par la version distante</option>
	       <option value="merge">Fusionner</option>
	     </select>
	   </div>
	 </div>
	 <div class="col-sm-1">
	   <button class="btn btn-default btn-select-merge">ok</button>
	 </div>
	 {% endif %}
       </div>
     </div>
   </div>
  {% else %}

  {% if changes.update|length or changes.commit|length or changes.merge|length %}
  <div class="alert alert-success">
    <h3>Synchronisation possible</h3>
    <a href="#" class="synchro_details" data-toggle="collapse" data-target="#collapseSynchro">masquer détails</a>
    <div class="panel panel-default">
      <div class="panel-collapse collapse in" id="collapseSynchro">
	<div class="panel-body">

	  {% if changes.update|length %}
	  <h4>Récupération des mises à jour vers l'arborescence locale</h4>
	  <ul>
	    {% for e in changes.update %}
	    <li>{{ e.path }} {% if e.kind == "file" %}<span class="pull-right"><a title="[R:{{e.rstatus}} W:{{e.wstatus}}]" href="/sync/diff?file={{e.path}}" target="diff">diff</a></span>{% endif %}</li>
	    {% endfor %}
	  </ul>
	  {% endif %}

	  {% if changes.commit|length %}
	  <h4>Envoi des modifications vers l'arborescence distante</h4>
	  <ul>
	    {% for e in changes.commit %}
	    <li>{{ e.path }}{% if e.kind == "file" %}<span class="pull-right"><a title="[R:{{e.rstatus}} W:{{e.wstatus}}]" href="/sync/diff?file={{e.path}}" target="diff">diff</a></span>{% endif %}</li>
	    {% endfor %}
	  </ul>
	  {% endif %}
	  
	  {% if changes.merge|length %}
	  <h4>Modifications concurrentes pouvant etre fusionnées</h4>
	  <ul>
	    {% for e in changes.merge %}
	    <li>
	      {{ e.path }}
	      {% if e.kind == "file" %}
	      <span class="pull-right"><a title="[R:{{e.rstatus}} W:{{e.wstatus}}]" href="/sync/diff?file={{e.path}}" target="diff">diff</a></span>
	      {% endif %}
	      <br>
	    </li>
	    {% endfor %}
	  </ul>
	  {% endif %}
	</div>
      </div>
    </div>
    <div class="{% if not changes.commit|length %}hidden{% endif %}">
    <p><strong>Description des changements</strong></p>
    <textarea id="syncromsg" class="form-control" ></textarea>
    </div>
    <br>
    <button id="dosynchro" class="btn btn-success btn-block">Synchroniser</button>

  </div>
  
  {% else %}
  <div class="alert alert-success">
    <strong>Le projet est synchronisé</strong>
  </div>
  {% endif %}

  {% endif %}
  
  {% endif %}
</div>
{% endblock %}

