{% extends "synchro/synchro.html" %}
{% load static %}

{% block current_tools %}menu-current{% endblock %}
{% block current_synchro %}class="menu-current"{% endblock %}


{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static "css/kolekti-synchro.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "zTree_v3/css/zTreeStyle/zTreeStyle.css" %}"/>
{% endblock %}

{% block extrascripts %}
<script src="{% static "js/kolekti-synchro.js" %}"></script>
<script type="text/javascript" src="{% static "zTree_v3/js/jquery.ztree.core.min.js" %}"></script>
<script type="text/javascript" src="{% static "zTree_v3/js/jquery.ztree.excheck.min.js" %}"></script>
<script type="text/javascript" src="{% static "zTree_v3/js/jquery.ztree.exhide.min.js" %}"></script>
{% endblock %}



{% block operation %}

{% if error %}
<div class="alert alert-warning">
  <p>Une erreur s'est produite au cours de la synchronisation, contactez votre support technique</p>
  <pre>{{error}}</pre>
</div>
{% else %}

{% if svn_url == "local" %}

<div class="alert alert-warning">
  <p>La synchronisation n'est pas disponible</p>
</div>


{% else %}

<div class="sync_conflict sync_hidden">
<div class="alert alert-warning">
  <h3>
	<strong>Attention</strong> : les mêmes fichiers ont été modifiés par vous et par les autres rédacteurs
  </h3>
  <form autocomplete="off" class="form-horizontal" method="POST" action="{% url 'kolekti_sync'  project=project %}">
    {% csrf_token %}
	<input  type="hidden" name="action" value="conflict"/>
    <div class="panel panel-default top-margin">
	  <div class="panel-body">
	    <p>La mise à jour ne peut pas être automatique. Vous devez choisir entre :</p>
	    <ul>
	      <li><strong>Valider vos fichiers</strong> : les fichiers modifiés par les autres rédacteurs seront écrasés.</li>
	      <li><strong>Remplacer vos fichiers par ceux des autres rédacteurs</strong></li>
	    </ul>
	    <hr>
	    <div class="form-group">
	      <div class="col-sm-6">
            <div class="sync_tree ztree"></div>
	      </div>
          <div class="col-sm-6" id="syncdetails">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5>Détails du <span class="sync-det-type">xx</span> <code><span class="sync-det-name">xx</span></code></h5>
              </div>
              <div class="panel-body">
                <div>
                  <p>Votre <span class="sync-det-type">xx</span> : <span class="sync-det-wstatus"></span></p>
                  <p>Le <span class="sync-det-type">xx</span> partagé : <span class="sync-det-rstatus"></span></p>
                </div>
                </div>
            </div>
          </div>
	    </div>
        
	    <div class="form-group">
	      <div class="col-sm-12">
		    <div class="checkbox">
		      <label>
		        <input class="displayall" type="checkbox" value="">
		        <small><em>Tout afficher</em></small>
		      </label>
		    </div>
	      </div>
	    </div>
	    <hr/>
		
	    <div class="form-group">
	      <label class="col-sm-2 control-label">Avec les fichiers sélectionnés : </label>
	      <div class="col-sm-10">
		    <select name="resolve" class="form-control select-conflit">
		      <option value="local">Valider mes fichiers</option>
		      <option value="remote">Remplacer mes fichiers par ceux des autres rédacteurs</option>
		    </select>
	      </div>
	    </div>

	    <div class="form-group" id="commitmsg">
	      <label class="col-sm-2 control-label">Description des changements</label>
	      <div class="col-sm-10">
		    <textarea id="syncromsg" class="form-control" name="commitmsg"></textarea>
	      </div>
	    </div>
	  </div>
    </div>
    <button type="submit" class="btn btn-warning btn-block  btn-action-synchro">Valider</button>
  </form>
</div>
</div>     



<div class="sync_merge sync_hidden">
<div class="alert alert-warning">
  <form autocomplete="off" class="form-horizontal" method="POST" action="{% url 'kolekti_sync'  project=project %}">
    {% csrf_token %}
	<input  type="hidden" name="action" value="merge"/>
    <h3>Fusion des modifications concurrentes</h3>
    <div class="panel panel-default">
	  <div class="panel-collapse collapse in" id="collapseSynchro">
	    <div class="panel-body">
	      <hr>
	      <div class="form-group">
	       <div class="col-sm-12">
		     <p>Certains fichiers ont été modifiés par vous et par d'autres rédacteurs. Il vous est possible de :</p>
		     <ul>
		       <li><strong>Fusionner</strong> automatiquement les modifications,</li>
		       <li><strong>Remplacer par la version des autres rédacteurs</strong>, en écrasant vos modifications personnelles depuis la dernière synchronisation</li>
		     </ul>
	       </div>
	      </div>
	      <div class="form-group">
	        <div class="col-sm-12">
              <div class="sync_tree ztree"></div>
	        </div>
	      </div>
	      <div class="form-group">
	        <div class="col-sm-12">
		      <div class="checkbox">
		        <label>
		          <input class="displayall" type="checkbox" value="">
		          <small><em>Tout afficher</em></small>
		        </label>
		      </div>
	        </div>
	      </div>
	      <hr/>
	     <div class="form-group">
	       <label class="col-sm-3 control-label">Avec les fichiers sélectionnés : </label>
	       <div class="col-sm-9">
		     <select name="resolve" class="form-control select-merge">
		       <option value="merge">Fusionner</option>
		       <option value="remote">Oublier mes modifications</option>
		     </select>
	       </div>
	     </div>
         
	     <div class="form-group" id="commitmsg">
	       <label class="col-sm-3 control-label">Description des changements</label>
	       <div class="col-sm-9">
		     <textarea id="syncromsg" class="form-control" name="commitmsg"></textarea>
	       </div>
	     </div>
	     
	    </div>
	  </div>
    </div>
    
    <button id="dosynchro"  type="submit"  class="btn btn-info btn-warning btn-action-synchro">Valider</button>
  </form>
</div>
</div>


<div class="sync_update sync_hidden">
  <div class="alert alert-info">
    <form autocomplete="off" class="form-horizontal" method="POST" action="{% url 'kolekti_sync'  project=project %}">
      {% csrf_token %}
	  <input  type="hidden" name="action" value="update"/>
      <h3>Récupération des modifications des autres rédacteurs</h3>
      <div class="panel panel-default">
	    <div class="panel-body">
          
	      <div class="form-group">
	        <div class="col-sm-12">
              <div class="sync_tree ztree"></div>
            </div>
	      </div>
          <div class="form-group">
	        <div class="col-sm-12">
		      <div class="checkbox">
		        <label>
		          <input class="displayall" type="checkbox" value="">
		          <small><em>Tout afficher</em></small>
		        </label>
		      </div>
	        </div>
	      </div>

	    </div>
      </div>
      <button type="submit"  class="btn btn-info btn-block  btn-action-synchro">Valider</button>

    </form>
    </div>
  </div>


<div class="sync_commit sync_hidden">
<div class="alert alert-info">
  <form autocomplete="off" class="form-horizontal" method="POST" action="{% url 'kolekti_sync'  project=project %}">
    {% csrf_token %}
	<input  type="hidden" name="action" value="commit"/>
    <h3>Envoi des fichiers modifiés</h3>
	<div class="panel panel-default">
	  <div class="panel-body">
	    <div class="form-group">
	      <div class="col-sm-12">
            <div class="sync_tree ztree"></div>
	      </div>
	    </div>
        
	    <div class="form-group">
	      <div class="col-sm-12">
		    <div class="checkbox">
		      <label>
		        <input class="displayall"  type="checkbox" value="">
		        <small><em>Tout afficher</em></small>
		      </label>
		    </div>
	      </div>
	    </div>
	    <hr/>
		
	    <div class="form-group">
	      <label class="col-sm-3 control-label">Avec les fichiers sélectionnés : </label>
	      <div class="col-sm-9">
		    <select name="resolve" class="form-control select-commit">
		      <option value="commit">Valider mes modifications</option>
		      <option value="revert">Oublier mes modifications</option>
		    </select>
	      </div>
	    </div>
        
	    <div class="form-group" id="commitmsg">
	      <label class="col-sm-2 control-label">Description des changements</label>
	      <div class="col-sm-10">
		    <textarea id="syncromsg" class="form-control" name="commitmsg"></textarea>
	      </div>
	    </div>
        
	     
	  </div>
	</div>
	<button type="submit"  class="btn btn-info btn-block  btn-action-synchro">Valider</button>
  </form>
</div>
</div>
{% endif %}
{% endif %}

{% endblock %}


{% block nextsteps %}

{% if svn_url == "local" %}

{% elif "conflict"  in root_statuses or "merge"  in root_statuses or  "update"  in root_statuses or "commit"  in root_statuses  %}
<h3>Étape(s) suivante(s)</h3>
<ul>
  
  {% if "conflict" in root_statuses %}
  {% if "merge" in root_statuses %}
  <li>Fusion des modifications concurrentes
    <p>{{ changes.merge|length }} fichiers ont été modifiés par un autre rédacteur et par vous depuis la dernière synchronisation, cette étape fusionne les fichiers modifiés.</p>
  </li>
  {% endif %}
  {% endif %}
  
  {% if "conflict" in root_statuses or "merge" in root_statuses %}
  {% if "update" in root_statuses %}
  <li>Récupération en local des fichiers modifiés sur le serveur externe
    <p>{{ changes.update|length }} fichiers ont été modifiés par un autre rédacteur depuis la dernière synchronisation.</p>
  </li>
  {% endif %}
  {% endif %}
  
  {% if "conflict" in root_statuses or "merge" in root_statuses or  "update" in root_statuses %}
  {% if "commit" in root_statuses  %}
  <li>Envoi de mes modifications vers les autres rédacteurs
    <p>{{ changes.commit|length }} fichiers ont été modifiés par vous.</p>
  </li>
  {% endif %}
  {% endif %}
</ul>

{% endif %}

<div class="sync_ok sync_hidden">
  <div class="alert alert-success">
    <strong>Le projet est synchronisé.</strong>
  </div>
</div>

<div id="sync_loading">
  <div class="alert alert-info">
    <i class='fa fa-refresh fa-spin'></i>
    <strong> Calcul de l'état de la synchronisation...</strong>
  </div>
</div>

<div id="sync_error" class="sync_hidden">
  <div class="alert alert-danger">
    <i class='fa fa-error'></i>
    <strong>Une erreur est survenue au cours de la synchronisation.</strong>
    <div>
      <pre id="sync_error_details">
      </pre>
    </div>
  </div>
</div>

{% endblock %}
