{% extends "basemenufix.html" %}
{% load timetags %}

{% block title %}Synchronisation{% endblock %}
{% block current_tools %}menu-current{% endblock %}
{% block extrascripts %}
    <script src="/static/js/kolekti-synchro.js"></script>
{% endblock %}

{# no repository #}
{#
<div class="alert alert-warning">
  <h3>Aucun dépot configuré</h3>
  <p>Vous ne bénéficiez pas des fonctions collaboratives de kolekti</p>
  <p>Entrez l'adresse du serveur SVN</p> 
  <p>Contactez nous pour un 
 <form method="POST">
    input type
</form>
#}


{# history #}
{% block menu %}
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3>Historique</h3>
      </div>
      <div class="panel-body">

	  {% for commit in history %}
	  <div class="list-group">
	    <a href="/sync/revision/{{commit.revision.number}}/" class="list-group-item">
	    <span class="badge">{{commit.revision.number}}</span> par {{commit.author}}, le {{commit.date|print_timestamp}}
	  </a>
	  <a href="/sync/revision/{{commit.revision.number}}/" class="list-group-item list-group-item-info">
	    {{commit.message}}
	  </a>
	  </div>
	  {% endfor %}

      </div>
    </div>
{% endblock %}



{% block content %}

<div class="main">
  {% block operation %}{% endblock %}
  {% block nextsteps %}{% endblock %}
</div>

{% endblock %}
