{% extends "base-wide.html" %}

{% block title %}Modules{% endblock %}
{% block current_topics %}class="menu-current"{% endblock %}
{% block help-topic %}topic{% endblock %}

{% block extrascripts %}
    <script src="/static/js/kolekti-topics-common.js"></script>
    <script src="/static/js/kolekti-topiclist.js"></script>
{% endblock %}

{% block menu %}
{% endblock %}


{% block content %}

<div class="main">
  <div class="title">
  </div>
  <div class="browserparent" data-browserpath="/sources/{{ lang }}/topics/{% if topic_path%}{{topic_path}}/{% endif %}">  
  </div>
</div>
{% endblock %}

