<div class="modal" id="modal_create">
      <div class="modal-dialog modal-lg">
	<div class="modal-content">
	  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
            <h4 class="modal-title">Créer un rapport</h4>
	  </div>
	  <div class="modal-body">
	    <div class="form-horizontal">
	      <div class="form-group">
		<label for="titre" class="col-sm-2 control-label">Titre</label>
		<input name="titre" id="titre_rapport" type="text"/>
	      </div>
	      <div class="form-group">
		<label for="commune1" class="col-sm-2 control-label">Commune 1</label>
		<input name="commune1" id="commune1" type="text" class="typeahead" data-provide="typeahead"/>
	      </div>
	      <div class="form-group">
		<label for="commune2" class="col-sm-2 control-label">Commune 2</label>
		<input name="commune2" id="commune2" type="text" class="typeahead" data-provide="typeahead"/>
	      </div>
	      <div class="form-group">
		<label for="commune3" class="col-sm-2 control-label">Commune 3</label>
		<input name="commune3" id="commune3" type="text" class="typeahead" data-provide="typeahead"/>
	      </div>
	      <hr/>
	    </div>
	  </div>
	  <div class="modal-footer">
	    {% block modal-footer %}{% endblock %}
            <button type="button" class="btn btn-default" id="modal_create_ok">OK</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
	  </div>
	</div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->